*{
    margin: 0%;
    padding: 0%;
}


.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}

.container .content{
    text-align: center;
}

.container .content h3{
    font-size: 30px;
    color: #333;
}


.container .content h3 span{
    border-radius: 5px;
    color: #fff;
    background-color: crimson;
    padding: 0px 15px;
}

.container .content h1{
    font-size: 50px;
    color: #333;
}

.container .content h1 span{
    background-color: crimson;
}

.container .content p{
    font-size: 25px;
    margin-bottom: 20px;
}

.container .content .btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    background: #333;
    color: #fff;
    margin: 0 5px;
    text-transform: capitalize;
}

.container .content .btn :hover{
    background: crimson;
}


.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h3 {
    margin-bottom: 20px;
    color: #002147; /* Dark blue color for headings */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="cpassword"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #002147; /* Dark blue background for buttons */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #003366; /* Slightly darker blue on hover */
}

p {
    margin-top: 20px;
    color: #666;
}

p a {
    color: #002147; /* Dark blue color for links */
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

a{
    color: #003366;
}

.form-container .form.error-msg{
    display: block;
    background: crimson;
    color: #fff;
    margin: 10px 0;
    font-size: 20px;
    padding: 10px;
}